<template>
  <div class="col-4">
    <div class="card mb-3" style="max-width: 24rem;">
      <div class="card-body text-center">
        <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut">
          <i v-if="!isSearch" @click="deleteCard()" class="fas fa-trash"></i>
        </transition>
        <slot name="word"></slot>
      </div>
      <div @mouseleave="resetBlur()"
           @click="showTranslation()"
           class="card-footer text-center">
           <i :style="{'opacity' : pointerOpacity}" class="fas fa-question-circle" aria-hidden="true"></i>
           <div :style="{'filter': 'blur(' + wordBlur + 'px)'}"
                class="translation-box">
                <slot name="translation"></slot>
           </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { eventBus } from '../main'

  export default {
    props: ['cardIndex', 'isSearch'],
    data() {
      return {
        wordBlur: 6,
        pointerOpacity: 1
      }
    },
    methods: {
      deleteCard() {
        eventBus.$emit('deletedCard', this.cardIndex)
      },
      showTranslation() {
        this.wordBlur = 0
        this.pointerOpacity = 0;
      },
      resetBlur() {
        this.wordBlur = 6
        this.pointerOpacity = 1;
      }
    }
  }
</script>

<style scoped>
  .card {
    background-color: #5886AF;
    font-family: 'Wendy One', sans-serif;
    color: #F2F2F2;
    font-size: 26px;
  }

  .card-footer {
    cursor: pointer;
  }

  i {
    color: #ffc107;;
    font-size: 34px;
    right: 20px;
    position: absolute;
    transition: opacity .3s;
  }

  .fa-trash {
    color: #1dffee;
    animation-duration: .8s;
  }

  .translation-box {
    transition: filter .4s;
  }
</style>
