<template>
  <div class="form-group row justify-content-center mt-5">
    <div class="col-6 input-group">
      <div @click="backToAddNewCard" class="input-group-prepend">
        <div class="input-group-text">
          <i @click="emitSearch()" class="fas fa-arrow-left"></i>
        </div>
      </div>
      <input @input="changeSearch" type="word" class="form-control" placeholder="Type the word you want to find..." autofocus>
    </div>
  </div>
</template>

<script>
  export default {
    methods: {
      backToAddNewCard() {
        this.$emit('changeIsSearch')
      },
      changeSearch(event){
        this.emitSearch(event.target.value)
      },
      emitSearch(text = '') {
        this.$emit('changeSearch', text.toLowerCase())
      }
    }
  }
</script>

<style scoped>
  .fa-arrow-left {
    font-size: 24px;
  }
</style>
