<template>
    <div>
      <h4 v-if="mounted && cards.length == 0"  class="text-center"><i>No Cards</i></h4>
      <transition-group appear tag="div" class="row" name="cardsList" enter-active-class="animated zoomIn">
        <card :isSearch="isSearch" id="card" v-for="card in cards" :key="card.word" :cardIndex="card.id">
          <span slot="word">{{ card.word | capitalize }}</span>
          <span slot="translation">{{ card.translation | capitalize }}</span>
        </card>
      </transition-group>
    </div>

</template>

<script>
  import Card from './Card.vue'

  export default {
    props: ['cards', 'isSearch', 'mounted'],
    components: {
      Card
    }
  }
</script>

<style scoped>
  .cardsList-leave-active {
    position: absolute;
    bottom: -9999px;
  }

  .cardsList-move {
    transition: all 1.4s;
  }

  #card {
    animation-duration: .6s;
  }
</style>
