<template>
  <div class="row justify-content-center">
    <div class="col-8 new-card-form">
      <div class="input-group">
        <div class="input-group-prepend">
          <div @click="changeIsSearch" class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <input type="text"
               v-validate="'max:14'"
               name="word" placeholder="Word..."
               v-model="word"
               @input="getTranslation"
               @keyup.enter="addNewCard"
               class="form-control">
        <input type="text"
               v-validate="'max:20'"
               name="translation"
               placeholder="Translation..."
               v-model="translation"
               @keyup.enter="addNewCard"
               class="form-control">
        <div class="input-group-append">
          <button @click="addNewCard" class="btn btn-info" type="button">Add New Card</button>
        </div>
      </div>

      <transition name="alert-in">
        <div v-if="errors.has('word') || errors.has('translation')" class="alert alert-danger" role="alert">
          <span v-if="errors.has('word')">{{ errors.first('word') }}</span>
          <span v-if="errors.has('translation')">{{ errors.first('translation') }}</span>
        </div>
      </transition>

    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    data() {
      return {
        word: '',
        translation: ''
      }
    },
    methods: {
      changeIsSearch() {
        this.$emit('changeIsSearch')
      },
      getTranslation(event){
        if(event.target.value.length >= 2){
          axios.get('https://translate.yandex.net/api/v1.5/tr.json/translate?key=trnsl.1.1.20180708T010704Z.d72dcf242dc5a33a.ad9cf77a061a9b49ef7947516ce9ff47739a6c05&text=' + event.target.value.toLowerCase() + '&lang=en-ru')
               .then(res => {
                 console.log(res)
                   this.translation = res.data.text[0].toLowerCase()
               })
               .catch(err => {
                console.log(err)
               })
        } else {
          this.translation = ''
        }
      },
      addNewCard() {
        this.$validator.validate().then(result => {
          if (!result)
            return

          if(this.word == '' || this.translation == ''){
            alert('Fill all fields')
            return
          }

            this.$emit('cardAdded', { word: this.word.toLowerCase(), translation: this.translation.toLowerCase() })
            this.word = ''
            this.translation = ''
        })
      }
    }
  }
</script>

<style scoped>
  .alert {
    font-size: 13px;
    position: absolute;
    z-index: 5;
  }

  .alert-in-enter-active {
    animation: bounce-in .5s ease-out forwards;
  }

  .alert-in-leave-active {
    animation: bounce-in .5s reverse ease-out forwards;
  }

  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }

    40% {
      transform: scale(1.3);
    }

    100% {
      transform: scale(1);
    }
  }

  .fa-search {
    font-size: 24px;
  }
</style>
