<template>
  <div class="container">
    <h1 class="text-center mt-5">English Cards</h1>
    <hr>
    <transition name="flip" mode="out-in">
        <cards-search id="search"
                      key="'find'"
                      v-if="isSearch"
                      @changeIsSearch="changeIsSearch"
                      @changeSearch="changeSearch">
        </cards-search>
        <new-card id="add"
                  key="'add'"
                  v-else
                  @changeIsSearch="changeIsSearch"
                  @cardAdded="newCardAdded"
                  class="mt-5">
        </new-card>
    </transition>
    <cards-grid :mounted="mounted" :isSearch="isSearch" :cards="getCards" class="mt-5"></cards-grid>
  </div>
</template>

<script>
import { eventBus } from './main'

import CardsGrid from './components/CardsGrid.vue'
import NewCard from './components/NewCard.vue'
import CardsSearch from './components/CardsSearch.vue'

export default {
  name: 'App',
  components: {
    CardsGrid,
    NewCard,
    CardsSearch
  },
  created() {
    eventBus.$on('deletedCard', (cardIndex) => {
      this.$http.delete('cards/' + cardIndex + '.json')
                .then((res) => {
                  console.log(res)
                })
      for (let i = 0; i < this.cards.length; i++) {
        if(this.cards[i].id == cardIndex){
          this.cards.splice(i, 1)
          break;
        }
      }
    })
    this.fetchCards()
  },
  data() {
    return {
      cards: [],
      searchText: '',
      maxCards: 10,
      isSearch: false,
      mounted: false
    }
  },
  methods: {
    newCardAdded(card) {
      if(this.isUniqueWord(card.word.toLowerCase())){
        this.$http.post('cards.json', card)
                  .then(res => {
                          card.id = res.body.name
                          this.cards.push(card)
                        },
                        err => { console.log(err) })
      } else {
        alert('You have added this word!');
      }
    },
    fetchCards(){
      this.$http.get('cards.json')
                .then(res => { return res.json() })
                .then( cards => {
                  const resultArray = [];

                  for(let key in cards){
                    let card = cards[key]
                    resultArray.push({ id: key, word: card.word, translation: card.translation })
                  }

                  this.cards = resultArray
                  this.mounted = true
                })
    },
    changeIsSearch(){
      this.isSearch = !this.isSearch
    },
    isUniqueWord(newWord){

      for(let i = 0; i < this.cards.length; i++){
        if(this.cards[i].word == newWord)
          return false;
      }

      return true;
    },
    changeSearch(searchText) {
        this.searchText = searchText
    }
  },
  computed: {
    getCards() {
      if(this.isSearch || this.searchText != '') {
        return this.cards.filter((card) => {
          return card.word.match(this.searchText)
        })
      } else {
        return this.cards
      }
    }
  }
}
</script>

<style>
  #todo {
    position: absolute;
    left: 0;
    top: 0;
  }

  body {
    overflow: hidden;
    background-color: #FDF1CE;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  #search, #add {
    animation-duration: .5s;
  }

  i {
    cursor: pointer;
  }

  .flip-enter-active {
    animation: flip-in 1s ease-out forwards;
  }

  .flip-leave-active {
    animation: flip-out 1s ease-out forwards;
  }

  @keyframes flip-out {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(90deg);
    }
  }

  @keyframes flip-in {
    from {
      transform: rotateY(90deg);
    }
    to {
      transform: rotateY(0deg);
    }
  }
</style>
